/* main {
  margin-top: 100px;
} */

.main--title {
  color: #203864;
  border-bottom: 2px solid #203864;
}

.main--title--text {
  color: #115a80;
}
.main--title--text:hover {
  color: #115a80;
}

a:hover {
  color: #115a80;
}

.service {
  height: 700px;
}

.all--detail:hover {
  color: #115a80;
}

#baivietnoibat {
  color: #4265a6;
  border-radius: 9px;
}

#baivietnoibat:hover {
  color: white;
  background-image: linear-gradient(to right, #183e72, #319dd7);
  border-color: inherit;
  transition: 0.2s;
}

#baivietpost {
  overflow: hidden;
  position: relative;
}

#baivietpost img {
  width: 100%;
  height: 280px;
  transition: all 1s ease-out;
  position: relative;
  z-index: 2;
}

#baivietpost:hover img {
  transform: scale(1.1, 1.1);
  z-index: 9;
}

#banner:hover img {
  transform: scale(1.1, 1.1);
  z-index: 9;
}
#banner img {
  height: 700px;
  transition: all 9s ease-out;
  z-index: 2;
}

.all--detail:hover {
  background-image: linear-gradient(to right, #183e72, #319dd7);
}

.card--text--news {
  height: 20px;
  color: black;
}

.list-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 -16px;
}

.card-infor {
  min-width: 350px;
  /* box-shadow: 0px 2px 4px 0px #64646482; */
  /* border-radius: 8px; */
  background-color: #fff;
  margin: 15px 15px;
  /* height: 450px; */
}

#dangkytuva {
  width: 100%;
  float: left;
}

#lienhe {
  width: 100%;
  float: left;
}

#gioithieu {
  width: 100%;
  float: left;
}
